<%- include("../shared/header") %>

<form method="post">
  <input type="text" name="name" value="<%" ="name" % />>
  <input type="text" name="createdOn" value="<%" ="createdOn" % />>
  <input type="text" name="gener" value="<%" ="gener" % />>
  <input type="text" name="time" value="<%" ="time" % />>
  <input type="text" name="director" value="<%" ="director" % />>

  <button type="submit">Aceppt</button>
</form>

<%- include("../shared/footer") %>
